<div class="container mh-100vh">
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="m-2">主持者</h3>
      <ol>
        <li class="lead"><a href="https://github.com/danmu-classroom/danmu-classroom-screen/releases">下載桌面應用程式</a></li>
        <li class="lead">開始免費試用</li>
      </ol>
      <p>成為會員將提供彈幕歷史訊息下載功能</p>
      <% if user_signed_in? %>
        <%= link_to '查看歷史彈幕', rooms_path, class: 'btn btn-success' %>
        <%= link_to '登出', destroy_user_session_path, class: 'btn btn-outline-danger', method: 'delete' %>
      <% else %>
        <%= link_to '註冊', new_user_registration_path, class: 'btn btn-outline-primary' %>
        <%= link_to '登入', new_user_session_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="col-12 col-sm-6">
      <h3 class="m-2">參與者</h3>
      <div class="d-flex flex-wrap">
        <ol>
          <li class="lead">掃瞄 QR Code 加入好友</li>
          <li class="lead">輸入房號</li>
          <li class="lead">暢所欲言</li>
        </ol>
        <%= image_tag 'line-bot-qr.png', class: 'img-fluid' %>
      </div>
    </div>
  </div>
</div>
