<!DOCTYPE html>
<html>
  <head>
    <title>彈幕教室</title>
    <link rel="shortcut icon" href="favicon.ico">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
    <%= bootstrap_alerts %>
    <%= yield %>
  </body>
</html>
